html{
  min-height:100%;
}

html,body{
  height:100%;
  color:#fff;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #132028;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  background-image: url(/images/blizzard-fw.jpg);
  background-size: cover;
  min-height: 660px;
}

#root{
  height:100%;
}

#filterBar, #currentDay, #forcast{
  box-sizing:border-box;
  padding: 10px;
}

#centerBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 70px);
  padding:30px 0;
  box-sizing:border-box;
  transition: height 2s;
}

header{
  min-height: 70px;
  display: flex;
  width: 100%;
  background-color: rgba(19,32,40,.5);
}

.blockHeading h1 {
  color:white;
  width: 100%;
  display:flex;
  justify-content: center;
  text-align:center;
  padding: 10px 0;
  text-transform: capitalize;
  margin:0;
  box-sizing: border-box;
}

#forcast h2{
  text-transform: capitalize;
  text-align:center;
}

sup{
  text-transform: lowercase;
  font-size:.7em;
}

.smallText{
  text-transform: lowercase;
  font-size:.7em;
}

#filterBar{
  padding:5px 20px;
}

#errorBox{
  background-color: #b61818;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
  padding:5px 10px;
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  width:100%;
  box-sizing:border-box;
  height: 50px;
  margin-top:-50px;
  overflow:hidden;
  transition: margin-top 0.25s linear;
}

#errorBox.open {
  padding:5px 10px;
  margin-top:0;
  visibility:visible;
  transition: margin-top 0.25s linear;
}

#errorBox p{
  margin:0;
}

#currentDay{
  padding:10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing:border-box;
}

#currentDay > div{
  display: flex;
  flex-direction:column;
  justify-content: center;
  width: 100%;
}

#currentDay > div p{
  margin: 0.25em;
}

#currentDay img{
  min-width:50%;
}

.blockHeading{
  width:70%;
  text-transform: capitalize;
}

.blockHeading p{
  font-size:1.25em;
  text-align:center;
}

.blockHeading p span{
  font-weight:500;
}

#appDownMessage{
  position:absolute;
  top:50%;
  left:50%;
  font-size:1em;
  transform: translate(-50%, -50%);
  padding:0;
}

#forcast .days div{
  padding:5px;
  background-color: rgba(95,130,141,.4);
  color:white;
  border-radius:10px;
  margin:5px;
  text-align:center;
}

#forcast .days div p{
  margin:0.25em;
}

#forcast .days p span{
  font-weight:500;
}

#cities{
  background-color:#f8f9fa;
  padding: 8px;
  box-sizing: border-box;
}

#cities h3{
  margin:0 0 0 5px;
  padding: 10px 0;
}

#search{
  display:flex;
  flex-direction:column;
}

#search input{
  border: 1px solid #dfdfdf;
  margin:0;
  padding:0 0 0 10px ;
  height:40px;
  border-radius:5px;
  width: 100%;
  box-sizing: border-box;
}

#search button{
  background-color: rgba(129,211,218,.4);
  cursor:pointer;
  position:relative;
  height: 40px;
  width: 100%;
  border-radius:5px;
  border: 0px solid transparent;
}

#search button:hover{
  background-color: rgba(129,277,218,.4);
}

#search button img{
  position:absolute;
  width:20px;
  height:20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#searchError{
  height:18px;
  margin-left:5px;
  color:red;
}

#filterBar, #currentDay, #forcast {
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .blockHeading h1{
    justify-content: flex-start;
  }

  #container{
    display: flex;
    align-items: stretch;
    min-height: calc( 100% - 70px);
  }

  #currentDay > div:nth-of-type(1){
    width:40%;
  }

  #currentDay > div:nth-of-type(2){
    width:60%;
  }

  #forcast h2, #forcast .days{
    padding: 0 20px;
  }

  #forcast h2{
    text-align:left;
  }

  #forcast .days{
    display:flex;
    justify-content: space-between;
  }

  #forcast .days div{
    width:calc(20% - 20px);
  }

  #cities{
    min-width:25%;
  }

  #weather{
    min-width:75%;
  }

  #currentDay, #forcast{
    min-height:35%;
  }

  #currentDay{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  #currentDay > div{
    display:flex;
    justify-content: center;
    flex-direction:column;
    text-align:left;
  }

  .blockHeading p{
    text-align:left;
  }

  #search{
    flex-direction:row;
  }

  #search input{
    width:60%;
  }

  #search button{
    width: 40px;
  }
}


@media only screen and (min-width: 1120px) {
  
  #forcast .days div{
    width:calc(20% - 40px);
  }

  #filterBar, #currentDay, #forcast{
    max-width:1200px;
    margin:0 auto;
    text-align:left;
  }

}